<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Car Price Predictor</title>
  </head>
  <body class="bg_dark">

    <div class="container">
        <div class="row">
            <div class="card mt-50" style="width:100%; height: 100%;">
                <div class="card-header">
                    <div class="col-12" style="text-align: center;">
                        <h1>Welcome to SmartBuy</h1>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post"  accept-charset="utf-8">
                        
                        <div class="col-10 form-group" style="text-align: center;">
                            <label><b>Select Company: </b></label>
                            <select class="selectpicker form-control" id="company" name="company" required="1" onchange="load_car_models(this.id,'car_model')">
                                {% for company in companies %}

                                <option value="{{company}}">{{company}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">
                            <label><b>Select Car model: </b></label>
                            <select class="selectpicker form-control" id="car_model" name="car_model" required="1" >
                                
                                {% for model in car_models %}

                                <option value="{{model}}">{{model}}</option>

                                {% endfor%}


                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">
                            <label><b>Select year of purchase: </b></label>
                            <select class="selectpicker form-control" id="year" name="year" required="1">
                                
                                {% for year in years %}

                                <option value="{{year}}">{{year}}</option>
                                {% endfor%}



                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">
                            <label><b>Select Fuel Type: </b></label>
                            <select class="selectpicker form-control" id="fuel_type" name="fuel_type" required="1">

                                {% for fuel_type in fuel_types %}

                                <option value="{{fuel_type}}">{{fuel_type}}</option>
                                {% endfor%}


                               <option value=""></option> 
                            </select>
                        </div>

                        <div class="col-10 form-group" style="text-align: center;">
                            <label><b>Enter number of kilometers : </b></label>
                            <input class="form-control" type="text" id="kilo_driven" name="kilo_driven" placeholder="Enter no of kilometers travelled">
                        </div>
                        <div class="col-10 form-group" style="text-align: center;">
                            <button class="btn btn-primary form-control" onclick="send_data()">Predict Price</button>
                        </div>
                        
                    </form>

                    <br>
                    <div class="row">
                        <div class="col-12" style="text-align: center;">
                            <h3>
                                <span id="prediction"></span>
                            </h3>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <script>
        const companyModels = {
            "Audi": ["Audi A3 Cabriolet", "Audi A4 1.8", "Audi A4 2.0","Audi A6 2.0","Audi A8","Audi Q3 2.0","Audi Q7 2.0","Audi Q7"],
        "BMW": ["BMW 3 Series", "BMW 5 Series", "BMW 7 Series","BMW X1","BMW X1 sDrive20d","BMW X1 xDrive20d"],
        "Chevrolet": ["Chevrolet Beat", "Chevrolet Beat Diesel", "Chevrolet Beat LS","Chevrolet Beat LT","Chevrolet Beat PS","Chevrolet Cruze LTZ","Chevrolet Enjoy","Chevrolet Enjoy 1.4","Chevrolet Sail 1.2","Chevrolet Sail UVA","Chevrolet Spark","Chevrolet Spark 1.0","Chevrolet Spark LS","Chevrolet Spark LT","Chevrolet Tavera LS","Chevrolet Tavera Neo"],
        "Dastun":["Dastun GO T","Dastun Go Plus","Dastun Redi GO"],
        "Fiat":["Fiat Linea Emotion","Fiat Petra ELX","Fiat Punto Emotion"],
        "Force":["Force Motors Force","Force Motors One"],
        "Ford":["Ford EcoSport","Ford EcoSport Ambiente","Ford EcoSport Titanium","Ford EcoSport Trend","Ford Endeavor 4x4","Ford Fiesta","Ford Fiesta SXi","Ford Figo","Ford Figo Diesel","Ford Figo Duratorq","Ford Figo Petrol","Ford Fusion 1.4","Ford Ikon 1.3","Ford Ikon 1.6"],
        "Hindustan":["Hindustan Motors Ambassador"],
        "Honda":["Honda Accord","Honda Amaze","Honda Amaze 1.2","Honda Amaze 1.5","Honda  Brio","Honda Brio V","Honda Brio VX","Honda City","Honda City 1.5","Honda City SV","Honda City VX","Honda City ZX","Honda Jazz S","Honda Jazz VX","Honda Mobilio","Honda Mobilio S","Honda WR V"],
        "Hyundai":["Hyundai Accent","Hyundai Accent Executive","Hyundai Accent GLE","Hyundai Accent GLX","Hyundai Creta","Hyundai Creta 1.6","Hyundai Creta 1.8","Hyundai Elantra SX","Hyundai Elite i20","Hyundai Eon","Hyundai Eon Era","Hyundai Eon Magna","Hyundai Eon Sportz","Hyundai Fluidic Verna","Hyundai Getz","Hyundai Getz GLE","Hyundai Getz Prime","Hyundai Grand i10","Hyundai Santro","Hyundai Santro AE","Hyundai Santro Xing","Hyundai Santro Trandform","Hyundai Verna","Hyundai Verna 1.4","Hyundai Verna 1.6","Hyundai Verna Fluidic","Hyundai Verna Transform","Hyundai Verna VGT","Hyundai Xcent Base","Hyundai Xcent SX","Hyundai i10","Hyundai i10 Era","Hyundai i10 Magna","Hyundai i10 Sportz","Hyundai i20","Hyundai i20 Active","Hyundai i20 Asta","Hyundai i20 Magna","Hyundai i20 Select","Hyundai i20 Sportz"],
        "Jaguar":["Jaguar XE XE","Jaguar XF 2.2"],
        "Jeep":["Jeep Wrangler Unlimited"],
        "Land Rover":["Land Rover Freelander"],
        "Mahindra":["Mahindra Bolero DI","Mahindra Bolero Power","Mahindra Bolero SLE","Mahindra Jeep CL550","Mahindra Jeep MM","Mahindra KUV100","Mahindra KUV100 K8","Mahindra Logan","Mahindra Logan Diesel","Mahindra Quanto C4","Mahindra Quanto C8","Mahindra Scorpio","Mahindra Sorpio 2.6","Mahindra Scorpio LX","Mahindra Scorpio S10","Mahindra Scorpio S4","Mahindra Scorpio SLE","Mahindra Scorpio SLX","Mahindra Scorpio VLX","Mahindra Scorpio Vlx","Mahindra Scorpio W","Mahindra TUV300 T4","Mahindra Tuv300 T8","Mahindra Thar CRDe","Mahindra XUV500","Mahindra XUV500 W10","Mahindra XUV500 W6","Mahindra XUV500 W8","Mahindra Xylo D2","Mahindra Xylo E4","Mahindra Xylo E8"],
        "Maruti":["Maruti Suzuki A","Maruti Suzuki Alto","Maruti Suzuki Baleno","Maruti Suzuki Celerio","Maruti Suzuki Ciaz","Maruti Suzuki Dzire","Maruti Suzuki Eeco","Maruti Suzuki Ertiga","Maruti Suzuki Esteem","Maruti Suzuki Estilo","Maruti Suzuki Maruti","Maruti Suzuki Omni","Maruti Suzuki Ritz","Maruti Suzuki S","Maruti Suzuki SX4","Maruti Suzuki Stingray","Maruti Suzuki Swift","Maruti Suzuki Vitara","Maruti Suzuki Wagon","Maruti Suzuki Zen"],
        "Mercedes":["Mercedes Benz A","Mercedes Benz B","Mercedes Benz C","Mercedes Benz GLA"],
        "Mini Cooper":["Mini Cooper S"],
        "Mitsubishi":["Mitsubishi Lancer 1.8","Mitsubishi Pajero Sport"],
        "Nissan":["Nissan Micra XL","Nissan Micra XV","Nissan Sunny","Nissan Sunny XL","Nissan Terrano XL","Nissan X Trail"],
        "Renault":["Renault Duster","Renault Duster 110","Renault Duster 110PS","Renault Duster 85","Renault Duster 85PS","Renault Duster RxL","Renault Kwid","Renault Kwid 1.0","Renault Kwid RXT","Renault Lodgy 85","Renault Scala RxL"],
        "Skoda":["Skoda Fabia","Skoda Fabia 1.2L","Skoda Fabia Classic","Skoda Laura","Skoda Octavia Classic","Skoda Rapid Elegance","Skoda Superb 1.8","Skoda Yeti Ambition"],
        "Tata":["Tata Indica","Tata Indica V2","Tata Indica eV2","Tata Indigo CS","Tata Indigo LS","Tata Indigo LX","Tata Indigo Marina","Tata Indigo eCS","Tata Manza","Tata Manza Aqua","Tata Manza Aura","Tata Manza ELAN","Tata Nano","Tata Nano Cx","Tata Nano GenX","Tata Nano LX","Tata Nano Lx","Tata Sumo Gold","Tata Sumo Grande","Tata Sumo Victa","Tata Tiaga Revotorq","Tata Tiaga Revotron","Tata Tigor Revotorq","Tata Venture EX","Tata Vista Quadrajet","Tata Zest Quadrajet","Tata Zest XE","Tata Zest XM"],
        "Toyata":["Toyata Corolla","Toyata Corolla Altis","Toyata Corolla H2","Toyata Etios","Toyata Etios G","Toyata Etios GD","Toyata Etios Liva","Toyota Fortuner","Toyata Fortuner 3.0","Toyata Innova 2.0","Toyata Innova 2.5","Toyata Qualis"],
        "Volkswagen":["Volkswagen Jetta Comfortile","Volkswagen Jetta Highline","Volkswagen Jetta Diesel","Volkswagen Polo","Volkswagen Polo Comfortile","Volkswagen Polo Highline","Volkswagen Polo Highline1.2L","Volkswagen Polo Trendline","Volkswagen Vento Comfortile","Volkswagen Vento Highline","Volkswagen Vento  Konekt"],
        "Volvo":["Volvo S80 Summum"]

        // Add more companies and models here
    };

    // Function to load car models based on selected company
    function load_car_models(companyId, carModelId) {
        const company = document.getElementById(companyId).value;
        const carModelSelect = document.getElementById(carModelId);
        
        // Clear previous options
        carModelSelect.innerHTML = "";

        // Check if the selected company has models
        if (company in companyModels) {
            // Populate car model options based on selected company
            companyModels[company].forEach(model => {
                const option = document.createElement("option");
                option.value = model;
                option.textContent = model;
                carModelSelect.appendChild(option);
            });
        } else {
            // If no models available, add a default option
            const option = document.createElement("option");
            option.value = "";
            option.textContent = "No models available";
            carModelSelect.appendChild(option);
        }
    }


        function form_handler(event){
            event.preventDefault();
        }
        function send_data(){
            document.querySelector('form').addEventListener('submit',form_handler);
        
        var fd=new FormData(document.querySelector('form'));


        var xhr= new XMLHttpRequest();

        xhr.open('POST','/predict',true);
        document.getElementById('prediction').innerHTML="Wait! Predicting the Price....";
        xhr.onreadystatechange=function()
        {
            if(xhr.readyState==XMLHttpRequest.DONE)
            {
                document.getElementById('prediction').innerHTML="Prediction: "+xhr.responseText;
            }
        };
        xhr.onload=function(){};
        xhr.send(fd);
    }
    </script>
    <!-- <img src="{{ url_for('static', filename='image.png') }}" alt="dog in car" class="side-image"> -->

    <img src="https://img.freepik.com/premium-photo/dog-driving-car-colorful-background_201847-1378.jpg" alt="car" class="side-image">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
